*{
	margin: 0;
	padding: 0;
}

.header{
	background-color: #FF9900;
	width: 100%;
	height: 105px;
	position: relative;
}

.title{
	position: absolute;
	top: 15px;
	left: 30px;
	color: #FFFFFF;
	font-size: 45px;
	display: block;
}

.title:hover{
	animation: ani1 5s linear 0s 1;
}

.menu{
	position: absolute;
	top: 70px;
	left: 300px;
}

.menu-text{
	display: inline-block;
	margin: 0 auto;
	margin-left: 80px;
	margin-right: 80px;
}
.menu-item{
	text-decoration:none;
	font-size: 25px;
	color: #FFFFFF;
}

.header-item{
	position: absolute;
	top: 0;
	right: 0;
	background-color: #222222;
	width: 1200px;
	height: 68px;
}

.content{
	width: 100%;
	height:750px;
	background-color: #3CB371;
	text-align: center;
}

.content-title{
	padding:20px 0;
}

.content-text{
	display: inline-block;
	padding: 0 400px;
	margin: 0 auto;
}

.text-item{
	padding-top: 10px;
	padding-bottom: 80px;
	text-align: left;
	font-size: 18px;
}

.text-item:hover{
	animation: ani2 1.5s linear 0.1s 1;
}

@keyframes

	ani1{

		30%{
			transform: rotate(360deg);
			opacity: 1;
		}
		49%{
			transform: scale(1,1);
			opacity: 1;
		}
		50%{
			transform: scale(0,0);
			opacity: 0;
		}
		70%{
			transform: translateY(-100px);
			opacity: 0;
		}
		100%{
			opacity: 1;
		}

	}

@keyframes

     ani2{

		0%{
			transform: translateY(-80px);
			opacity: 0.1
		}
		100%{
			transform: translateY(0px);
			opacity: 1;
		}

     }